<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Redirigir todas las rutas que no existen a /error404
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ /error404 [L,QSA]
</IfModule>
