<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/login.css">
    <title>STORM GPS</title>
</head>

<body>
    <img src="../assets/images/Storm.png" alt="" width="200px">
    <h2>Bienvenidos a Storm GPS</h2>
    <form action="/login" method="post">
        <div class="inputBox">
            <input type="text" name="username" required="required">
            <span>Usuario</span>
        </div>
        <div class="inputBox">
            <input type="password" name="password" required="required">
            <span>Contraseña</span>
        </div>
        <div class="inputBox">
            <input class="custom-btn btn-1" type="submit" value="Ingresar">
        </div>
        <div class="inputBox">
            <span>¿No tienes una cuenta? <a href="#">Registrarse</a></span>
            
        </div>
    </form>

    <script src="./public/js/script.js"></script>
</body>

</html>