<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/login.css">
    <title>404 No Found</title>
</head>

<body>
    <img src="../assets/images/Storm.png" alt="" width="200px">
    <h2>¡Nos descubriste! Esta página está en ejecución</h2>
    <p>Estamos trabajando para que tengas la mejor experiencia, espera próximamente</p>
    <div class="inputBox">
        <input class="custom-btn btn-1" type="submit" value="Regresar">
    </div>

    <script src="./public/js/script.js"></script>
</body>

</html>