<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>STORM GPS</title>
</head>

<body>

    <section class="home">
        <div class="content">
            <a href="#">STORM GPS</a>
            <h2>Bienvenidos</h2>
            <pre>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </pre>

            <div class="icon">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-github"></i>
            </div>
        </div>

        <div>
            <form class="signin" id="formLogin">
                <h2>Inicio de sesión</h2>

                <div class="input">
                    <input type="email" placeholder="Correo" id="email" required>
                    <i class="fa-solid fa-envelope"></i>
                </div>

                <div class="input">
                    <input type="password" placeholder="Contraseña" id="password" required>
                    <i class="fa-solid fa-lock"></i>
                </div>

                <div class="check">
                    <label><input type="checkbox" class="checking">Recordarme</label>
                    <a href="#">¿Olvidaste la contraseña?</a>
                </div>

                <div class="btn">
                    <button class="buttons">Ingresar</button>
                </div>

                <div class="account">
                    <p>¿No tienes una cuenta?</p>
                    <a href="#">Regístrate</a>
                </div>
            </form>
        </div>
    </section>
    <script src="../scripts/login.js"></script>
</body>

</html>